<div class="footer-info">
    <p>数据每1小时自动更新 | Rotaeno玩家排行榜 v1.5.5.2<br>Made by RTHsama | UI Designed by Sixi<br>Powered by Flask & PostgreSQL</p>
    <p>您共访问本网站{{ user_visits }}次 | 网页共被访问{{ total_visits }}次</p>
    <p>当前有<span id="online-count">0</span>人正在访问</p>
    <p id="bilibili-link" class="related-link">
        B站个人主页：
        <a href="https://space.bilibili.com/436809171">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-bilibili"></use></svg> RTHsama
        </a> |
        <a href="https://space.bilibili.com/518645556">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-bilibili"></use></svg> Sixi
        </a>
    </p>
    <p id="qq-group-link" class="related-link">
        <span>铃猫酱官方群聊</span><br>
        <a href="https://qm.qq.com/q/9WrVrgGy08">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-qq"></use></svg>759274507(1群)
        </a> |
        <a href="https://qm.qq.com/q/TTwQQhr4ci">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-qq"></use></svg>754192668(2群)
        </a> |
        <a href="https://qm.qq.com/q/XEOwmRj42W">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-qq"></use></svg>1011028553(3群)
        </a> |
        <a href="https://qm.qq.com/q/ojHgJ3VG8w">
            <svg class="icon" width="16" height="16"><use xlink:href="/static/icons.svg#icon-qq"></use></svg>465514859(4群)
        </a>
    </p>
</div>
